body {
	font-family: 'Courier New', Courier, monospace;
}

.wrapper {
	display: flex;
	justify-content: center;
}

.calculator {
	display: flex;
	flex-flow: column nowrap;
	width: 400px;
	height: 600px;
}

#display {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
	height: 100px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	border: 0px;
	background-color: grey;
}

#display > * {
	margin: 10px;	
	font-weight: bold;
	color: white;
}

#output {
	font-size: 32px;	
}

#history {
	font-size: 18px;
}

.buttons {
	display: grid;
	flex: 1;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(4, 1fr);
	height: 100%;
	width: 100%;
}

button {
	font-family: 'Courier New', Courier, monospace;
	font-size: 24px;
	font-weight: bold;
}

#add {
	grid-row: 2 / 4;
	grid-column: 4 / 5;
}

#equals {
	grid-row: 4 / 6;
	grid-column: 4 / 5;
}